* {
    margin: 0;
    padding: 0;
}
* {
    box-sizing: border-box;
}

.token.selector {
    color: black;
}
.token.punctuation {
    color: black;
}
.token.function {
    color: black;
}
.token.property {
    color: black;
}
#code {
    height: 100vh;
    overflow: hidden;
}
#paper > .content {
    padding-left: 16px;
    font-size: 15px;
}

#paper > .markdownToHtml {
    padding-left: 32px;
    background: white;
    height: 100%;
    width: 100%;
    font-size: 15px;
}